---
# =============================================================================
# Common Role - Handlers
# =============================================================================

- name: Reload firewalld
  ansible.builtin.service:
    name: firewalld
    state: reloaded

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
