---
# =============================================================================
# NPM Role - Certbot Installation
# =============================================================================

- name: Install Python dependencies
  ansible.builtin.apt:
    name:
      - python3
      - python3-dev
      - python3-pip
      - python3-venv
      - python3-cffi
    state: present

- name: Create Certbot virtual environment
  ansible.builtin.command:
    cmd: python3 -m venv {{ npm_certbot_venv }}
    creates: "{{ npm_certbot_venv }}/bin/python"

- name: Upgrade pip in Certbot venv
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - wheel
    state: present
    virtualenv: "{{ npm_certbot_venv }}"

- name: Install Certbot
  ansible.builtin.pip:
    name:
      - certbot
      - certbot-dns-cloudflare
    state: present
    virtualenv: "{{ npm_certbot_venv }}"

- name: Create Certbot symlink
  ansible.builtin.file:
    src: "{{ npm_certbot_venv }}/bin/certbot"
    dest: /usr/local/bin/certbot
    state: link
